[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
	branch = stable
[submodule "polymode"]
	path = polymode
	url = https://github.com/vitoshka/polymode.git
